.mainContainer {
  width: 700px;
  margin: 0 auto;
}

.inputContainer {
  margin-top: 50px;
  margin-bottom: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#filled-basic {
  width: 500px;
  font-size: 1.5rem;
}

.item__box {
  display: flex;
  font-size: 1.5rem;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 15px;
  border: 1px solid black;
  p {
    width: 500px;
  }
}
